<p id="notice"><%= notice %></p>

<p>
  <b>Sku:</b>
  <%= @sasproduct.SKU %>
</p>

<p>
  <b>Name:</b>
  <%= @sasproduct.name %>
</p>

<p>
  <b>Url to product:</b>
  <%= @sasproduct.URL_to_product %>
</p>

<p>
  <b>Price:</b>
  <%= @sasproduct.price %>
</p>

<p>
  <b>Retail price:</b>
  <%= @sasproduct.Retail_Price %>
</p>

<p>
  <b>Url to image:</b>
  <%= @sasproduct.URL_to_image %>
</p>

<p>
  <b>Url to thumbnail image:</b>
  <%= @sasproduct.URL_to_thumbnail_image %>
</p>

<p>
  <b>Commission:</b>
  <%= @sasproduct.Commission %>
</p>

<p>
  <b>Category:</b>
  <%= @sasproduct.Category %>
</p>

<p>
  <b>Subcategory:</b>
  <%= @sasproduct.Subcategory %>
</p>

<p>
  <b>Description:</b>
  <%= @sasproduct.Description %>
</p>

<p>
  <b>Searchterms:</b>
  <%= @sasproduct.SearchTerms %>
</p>

<p>
  <b>Status:</b>
  <%= @sasproduct.Status %>
</p>

<p>
  <b>Merchantid:</b>
  <%= @sasproduct.MerchantID %>
</p>

<p>
  <b>Custom 1:</b>
  <%= @sasproduct.Custom_1 %>
</p>

<p>
  <b>Custom 2:</b>
  <%= @sasproduct.Custom_2 %>
</p>

<p>
  <b>Custom 3:</b>
  <%= @sasproduct.Custom_3 %>
</p>

<p>
  <b>Custom 4:</b>
  <%= @sasproduct.Custom_4 %>
</p>

<p>
  <b>Custom 5:</b>
  <%= @sasproduct.Custom_5 %>
</p>

<p>
  <b>Storeid:</b>
  <%= @sasproduct.StoreID %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @sasproduct.Manufacturer %>
</p>

<p>
  <b>Partnumber:</b>
  <%= @sasproduct.PartNumber %>
</p>

<p>
  <b>Merchantcategory:</b>
  <%= @sasproduct.MerchantCategory %>
</p>

<p>
  <b>Merchantsubcategory:</b>
  <%= @sasproduct.MerchantSubCategory %>
</p>

<p>
  <b>Shortdescription:</b>
  <%= @sasproduct.ShortDescription %>
</p>

<p>
  <b>Isbn:</b>
  <%= @sasproduct.ISBN %>
</p>

<p>
  <b>Upc:</b>
  <%= @sasproduct.UPC %>
</p>

<p>
  <b>Crosssell:</b>
  <%= @sasproduct.CrossSell %>
</p>

<p>
  <b>Merchantgroup:</b>
  <%= @sasproduct.MerchantGroup %>
</p>

<p>
  <b>Merchantsubgroup:</b>
  <%= @sasproduct.MerchantSubgroup %>
</p>

<p>
  <b>Compatiblewith:</b>
  <%= @sasproduct.CompatibleWith %>
</p>

<p>
  <b>Compareto:</b>
  <%= @sasproduct.CompareTo %>
</p>

<p>
  <b>Quantitydiscount:</b>
  <%= @sasproduct.QuantityDiscount %>
</p>

<p>
  <b>Bestseller:</b>
  <%= @sasproduct.Bestseller %>
</p>

<p>
  <b>Addtocarturl:</b>
  <%= @sasproduct.AddToCartURL %>
</p>

<p>
  <b>Reviewsrssurl:</b>
  <%= @sasproduct.ReviewsRSSURL %>
</p>

<p>
  <b>Option1:</b>
  <%= @sasproduct.Option1 %>
</p>

<p>
  <b>Option2:</b>
  <%= @sasproduct.Option2 %>
</p>

<p>
  <b>Option3:</b>
  <%= @sasproduct.Option3 %>
</p>

<p>
  <b>Option4:</b>
  <%= @sasproduct.Option4 %>
</p>

<p>
  <b>Option5:</b>
  <%= @sasproduct.Option5 %>
</p>

<p>
  <b>Reservedforfutureuse1:</b>
  <%= @sasproduct.ReservedForFutureUse1 %>
</p>

<p>
  <b>Reservedforfutureuse2:</b>
  <%= @sasproduct.ReservedForFutureUse2 %>
</p>

<p>
  <b>Reservedforfutureuse3:</b>
  <%= @sasproduct.ReservedForFutureUse3 %>
</p>

<p>
  <b>Reservedforfutureuse4:</b>
  <%= @sasproduct.ReservedForFutureUse4 %>
</p>

<p>
  <b>Reservedforfutureuse5:</b>
  <%= @sasproduct.ReservedForFutureUse5 %>
</p>

<p>
  <b>Reservedforfutureuse6:</b>
  <%= @sasproduct.ReservedForFutureUse6 %>
</p>

<p>
  <b>Reservedforfutureuse7:</b>
  <%= @sasproduct.ReservedForFutureUse7 %>
</p>

<p>
  <b>Reservedforfutureuse8:</b>
  <%= @sasproduct.ReservedForFutureUse8 %>
</p>

<p>
  <b>Reservedforfutureuse9:</b>
  <%= @sasproduct.ReservedForFutureUse9 %>
</p>


<%= link_to 'Edit', edit_sasproduct_path(@sasproduct) %> |
<%= link_to 'Back', sasproducts_path %>
