<p id="notice"><%= notice %></p>

<p>
  <b>Sku:</b>
  <%= @sasmap.SKU %>
</p>

<p>
  <b>Name:</b>
  <%= @sasmap.name %>
</p>

<p>
  <b>Url to product:</b>
  <%= @sasmap.URL_to_product %>
</p>

<p>
  <b>Price:</b>
  <%= @sasmap.price %>
</p>

<p>
  <b>Retail price:</b>
  <%= @sasmap.Retail_Price %>
</p>

<p>
  <b>Url to image:</b>
  <%= @sasmap.URL_to_image %>
</p>

<p>
  <b>Url to thumbnail image:</b>
  <%= @sasmap.URL_to_thumbnail_image %>
</p>

<p>
  <b>Commission:</b>
  <%= @sasmap.Commission %>
</p>

<p>
  <b>Category:</b>
  <%= @sasmap.Category %>
</p>

<p>
  <b>Subcategory:</b>
  <%= @sasmap.Subcategory %>
</p>

<p>
  <b>Description:</b>
  <%= @sasmap.Description %>
</p>

<p>
  <b>Searchterms:</b>
  <%= @sasmap.SearchTerms %>
</p>

<p>
  <b>Status:</b>
  <%= @sasmap.Status %>
</p>

<p>
  <b>Merchantid:</b>
  <%= @sasmap.MerchantID %>
</p>

<p>
  <b>Custom 1:</b>
  <%= @sasmap.Custom_1 %>
</p>

<p>
  <b>Custom 2:</b>
  <%= @sasmap.Custom_2 %>
</p>

<p>
  <b>Custom 3:</b>
  <%= @sasmap.Custom_3 %>
</p>

<p>
  <b>Custom 4:</b>
  <%= @sasmap.Custom_4 %>
</p>

<p>
  <b>Custom 5:</b>
  <%= @sasmap.Custom_5 %>
</p>

<p>
  <b>Storeid:</b>
  <%= @sasmap.StoreID %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @sasmap.Manufacturer %>
</p>

<p>
  <b>Partnumber:</b>
  <%= @sasmap.PartNumber %>
</p>

<p>
  <b>Merchantcategory:</b>
  <%= @sasmap.MerchantCategory %>
</p>

<p>
  <b>Merchantsubcategory:</b>
  <%= @sasmap.MerchantSubCategory %>
</p>

<p>
  <b>Shortdescription:</b>
  <%= @sasmap.ShortDescription %>
</p>

<p>
  <b>Isbn:</b>
  <%= @sasmap.ISBN %>
</p>

<p>
  <b>Upc:</b>
  <%= @sasmap.UPC %>
</p>

<p>
  <b>Crosssell:</b>
  <%= @sasmap.CrossSell %>
</p>

<p>
  <b>Merchantgroup:</b>
  <%= @sasmap.MerchantGroup %>
</p>

<p>
  <b>Merchantsubgroup:</b>
  <%= @sasmap.MerchantSubgroup %>
</p>

<p>
  <b>Compatiblewith:</b>
  <%= @sasmap.CompatibleWith %>
</p>

<p>
  <b>Compareto:</b>
  <%= @sasmap.CompareTo %>
</p>

<p>
  <b>Quantitydiscount:</b>
  <%= @sasmap.QuantityDiscount %>
</p>

<p>
  <b>Bestseller:</b>
  <%= @sasmap.Bestseller %>
</p>

<p>
  <b>Addtocarturl:</b>
  <%= @sasmap.AddToCartURL %>
</p>

<p>
  <b>Reviewsrssurl:</b>
  <%= @sasmap.ReviewsRSSURL %>
</p>

<p>
  <b>Option1:</b>
  <%= @sasmap.Option1 %>
</p>

<p>
  <b>Option2:</b>
  <%= @sasmap.Option2 %>
</p>

<p>
  <b>Option3:</b>
  <%= @sasmap.Option3 %>
</p>

<p>
  <b>Option4:</b>
  <%= @sasmap.Option4 %>
</p>

<p>
  <b>Option5:</b>
  <%= @sasmap.Option5 %>
</p>

<p>
  <b>Reservedforfutureuse1:</b>
  <%= @sasmap.ReservedForFutureUse1 %>
</p>

<p>
  <b>Reservedforfutureuse2:</b>
  <%= @sasmap.ReservedForFutureUse2 %>
</p>

<p>
  <b>Reservedforfutureuse3:</b>
  <%= @sasmap.ReservedForFutureUse3 %>
</p>

<p>
  <b>Reservedforfutureuse4:</b>
  <%= @sasmap.ReservedForFutureUse4 %>
</p>

<p>
  <b>Reservedforfutureuse5:</b>
  <%= @sasmap.ReservedForFutureUse5 %>
</p>

<p>
  <b>Reservedforfutureuse6:</b>
  <%= @sasmap.ReservedForFutureUse6 %>
</p>

<p>
  <b>Reservedforfutureuse7:</b>
  <%= @sasmap.ReservedForFutureUse7 %>
</p>

<p>
  <b>Reservedforfutureuse8:</b>
  <%= @sasmap.ReservedForFutureUse8 %>
</p>

<p>
  <b>Reservedforfutureuse9:</b>
  <%= @sasmap.ReservedForFutureUse9 %>
</p>


<%= link_to 'Edit', edit_sasmap_path(@sasmap) %> |
<%= link_to 'Back', sasmaps_path %>
